@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* {
    margin: 0;
    padding: 0;
}
body{
    
}
header{
    background-color: black;
    padding: 40px;
}
header > h1{
    color: white;
    text-align: center;
    font-size: 10vw;
    font-family: 'Passion One', cursive;
}
header > p{
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 23px;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
}
main p{
    font-family: 'Sriracha', cursive;
    font-size:4vw;
    text-align: left;
}
.joaninha {
    background-image:url(imagens/background001.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    padding: 200px 100px 200px 20px;
}
.livro {
    background-image:url(imagens/background002.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    padding: 200px 100px 200px 20px;
}
article{
    background-color: rgba(0, 0, 0, 0.512);
    display: inline-block;
    padding: 15px;
    color: white;
}
article > p{
    width: 100%;
}
main > div{
    padding: 100px 100px 100px 20px;
    text-align: left;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 8px;

}


